name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/magnum
          ref: f3a8ec2e5367a239ce184a2cf1f00a10645bc3f0 # stable/zed

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: magnum
          base-image-tag: zed
          build-contexts: magnum=openstack/magnum
          push: ${{ github.event_name != 'pull_request' }}
