name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/magnum
          ref: 6221cd31882a821e26b8a0a40879db045c9f90e1 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: magnum
          build-contexts: magnum=openstack/magnum
          push: ${{ github.event_name != 'pull_request' }}
